h1, h2, h3, h4, h5, li, a {
 	font-family: "brandon-grotesque", 'Source Sans Pro', 'Arial Black', 'Arial', 'sans-serif';
 	font-weight: 500;
 	text-transform: uppercase
 }

p {
 	font-family: 'Source Sans Pro', 'Arial Black', 'Arial', 'sans-serif';
 	font-weight: 200;
 }


h2 {
 	margin: 0;
 }

body { font-size: 1em;}

/*leipäteksti*/
p { font-size: 1.4em; line-height: 1.2em;}

/* otsikko */
h2, h3, h4, h5, h6{
	font-size: 1.2em;
}

.infobox {
	width: 100%;
	padding-left: 2%;
	padding-right: 2%;
}

.infobox img {
	width: 96%;
}

.content {
	width: 96%;
}

.wrapper {
	width: 45%;
	padding-right: 1%;
	float: left;
	text-align: left;
}

.wrapper.right {
	width: 50%;
	float: left;
	text-align: left;

}

.varauslinkki {
	display: inline-block;
  	color: black;
  	margin-top: 16px;
  	padding: 12px 22px;
  	border: solid;
  	font-weight: 600;
  	text-decoration: none;
}

.varauslinkki:hover { 
	background-color: black; 
	color: white;
}

#map-canvas {
    width: 70%;
    height: 80%;
}


